<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
    <link rel="stylesheet" href="css/acerca.css"/>
</head>
<body>

    <header>
        <div>
            <a href="/paginaInicio.html"><img id="logo"src="./imagenes/Logo.jpg"width="270" height="200"></a>
        </div>      
        <h1>Heroes de sangre</h1>
    </header>
    
    <h3>Acerca de nosotros</h3>

    <p>
        Somos un grupo de desarrolladores conformado por mujeres y hombres 
        quienes han decidido crear una plataforma para motivar a los ciudadanos 
        a formar parte del proceso donativo de sangre para aquellos que lo necesitan. </br>
        Nos mueve el saber que cada vez que una unidad de sangre es donada, crece la 
        esperanza de una persona para sobrevivir y en un futuro volver a vivir su vida.
    </p>

    <footer>
        <p style="text-align: center;">
            <a href="">Acerca de nosotros</a>&nbsp; &nbsp;&nbsp;
            <a href="">Términos de privacidad</a> &nbsp; &nbsp;&nbsp;
            <a href="">Términos y condiciones&oacute;n</a>&nbsp; &nbsp;&nbsp; 
            <a href="proceso.html">Proceso de donación</a>&nbsp; &nbsp;&nbsp;
        </p>
    </footer>
</body>
</html>