<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/agendarCita.css">
  <link rel="shortcut icon" href="/images/logo1.png">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <title>Agendar Cita</title>
  <script>
    function obterURL(){
      var URLactual = window.location;
      return URLactual;
    }
  </script>
</head>
<body>
  <div id="container">
      <a href="/"><img id="logo" src="/images/Logo.jpg"></a>
      <h1>Agenda tu cita para donacion</h1>
  </div>


  <div id="container2">
        <!--en action iría la página de la sesión ya iniciada--->


                  <form class="log-in" onSubmit="return obterURL()"method="post">
                      <p>Fecha:&nbsp;<input class="input" type="date" name="fecha" required /></p>
                      <p id="solo">Tipo de sangre:&nbsp; &nbsp;&nbsp;
                          <select name="tipoSangre" id="sangre" class="input">
                              <option value="A+">A+</option>
                              <option value="A-">A-</option>
                              <option value="B+">B+</option>
                              <option value="B-">B-</option>
                              <option value="AB+">AB+</option>
                              <option value="AB-">AB-</option>
                              <option value="O+">O+</option>
                              <option value="O-">O-</option>
                          </select></p>
                          <p id="solo">Hospital al que quiere donar:
                              <select name="nombreHospital" id="hospital" class="input">
                                  <option value="General">Hospital General "Dr Salvador Zubirán"</option>
                                  <option value="StarMedica">Star Médica Chihuahua</option>
                                  <option value="Central">Hospital Central Universitario</option>
                                  <option value="Angeles">Hospital Angeles Chihuahua</option>
                                  <option value="infantil">Hospital Infantil de Especialidades de Chihuahua</option>
                              </select></p>
                            <p>&nbsp;
                          <input class="input submit" type="submit", value="Agendar">
                  </form>

  </div>


<!--
    <form action="/citas" method="post">
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp;ID Donador:&nbsp;<input type="text" name="idDonador"/></p>
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; Fecha:&nbsp;<input type="date" name="fecha"/></p>
        <p style="text-align: center;">&iquest;Tipo de sangre:&nbsp; &nbsp;&nbsp;
            <select name="tipoSangre" id="sangre">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select></p>
            <p style="text-align: center;">&iquest;Hospital al que quierar donar:&nbsp; &nbsp;&nbsp;
                <select name="nombreHospital" id="hospital">
                    <option value="General">Hospital General "Dr Salvador Zubirán"</option>
                    <option value="StarMedica">Star Médica Chihuahua</option>
                    <option value="Central">Hospital Central Universitario</option>
                    <option value="Angeles">Hospital Angeles Chihuahua</option>
                    <option value="infantil">Hospital Infantil de Especialidades de Chihuahua</option>
                </select></p>
            <input style="text-align: center;" type="submit", value="Agendar">
    </form>-->
    <footer>
          <a href="/login"><img id="flechaRegreso" src="/images/flechaRegreso.png"></a>
    </footer>
</body>
</html>
