<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <div id="container">
        <a href="/"><img id="logo" src="/images/Logo.jpg"></a>
    </div>

      <div>
        <center>
          <table style="border: hidden" width="1500">
            <tbody style="border: hidden">
              <center>
                <h1>Bienvenido a Heroe de Sangre</h1>
              </center>
            </tbody>
          </table>
          <button onclick="window.location.href='/unidades'"type="button" name="unidades">Registrar unidades</button>

          <footer>
            <p style="text-align: center;">
                <a href="/acerca">Acerca de nosotros</a>&nbsp; &nbsp;&nbsp;
                <a href="/terminos">Terminos de privacidad y condiciones</a>&nbsp; &nbsp;&nbsp;
                <a href="/proceso">Proceso de donación</a>&nbsp; &nbsp;&nbsp;
            </p>
        </footer>
      </div>
  </body>
</html>