<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/inicioPersonal.css">
    <link rel="shortcut icon" href="/images/logo1.png">
    <title></title>
  </head>
  <body>
    <div id="container">
        <a href="/"><img id="logo" src="/images/Logo.jpg"></a>
    </div>

    <center>
      <div id="container2">
        <table style="border: hidden" width="1000">
          <tbody style="border: hidden">

            <tr style="border: hidden">
              <td style="border: hidden">
                <center>
                  <img src="/images/unidadesSangre.jpg"  width="500" height="380">
                </center>
              </td>

              <td style="border: hidden">
                <center>
                  <h2 class="title">¿Necesitas unidades?</h2>
                  <button onclick="window.location.href='/unidades'"type="button" name="unidades" class="input submit">Registrar unidades</button>
                </center>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </center>


      <footer align="left">
          <a href="/login"><img id="flechaRegreso" src="/images/flechaRegreso.png"></a>
    </footer>

  </body>
</html>
