<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/inicioDonante.css">
    <title>Bienvenido donante</title>
  </head>
  <body>
    <div id="container">
        <a href="/"><img id="logo" src="/images/Logo.jpg"></a>
        <h1>Bienvenido Heroe Donante</h1>
    </div>



        <center>
          <div id="container2">
            <table style="border: hidden" width="1000">
              <tbody style="border: hidden">

                <tr style="border: hidden">
                  <td style="border: hidden">
                    <center>
                      <img src="/images/agendarCita.jpg"  width="400" height="400">
                    </center>
                  </td>

                  <td style="border: hidden">
                    <center>
                      <h2 class="title">¿Quieres agendar tu cita?</h2>
                      <button onclick="window.location.href='/citas'"type="button" name="Registrarse" class="input submit">Agendar Cita</button>
                    </center>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </center>


          <footer align="left">
              <a href="/login"><img id="flechaRegreso" src="/images/flechaRegreso.png"></a>
        </footer>

  </body>
</html>
