<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <div id="container">
        <a href="/"><img id="logo" src="/images/Logo.jpg"></a>
    </div>

      <div>
        <center>
          <table style="border: hidden" width="1500">
            <tbody style="border: hidden">
              <center>
                <h1>Bienvenido a Heroe de Sangre</h1>
              </center>

              <tr style="border: hidden">
                <td style="border: hidden">
                  <center>
                    <img src="/images/citaPrevia.jpg" width="600" height="400">
                    <p>Podras registrarte como donante y agendar cita previa para llevar a cabo tu donación</p>
                  <center>
                </td>

                <td style="border: hidden">
                  <center>
                    <h3>¿Tienes una cuenta?</h3>
                    <button onclick="window.location.href='/login'" type="button" name="iniciarSesion">Iniciar Sesion</button>
                    <h3>¿Eres nuevo?</h3>
                    <button onclick="window.location.href='/seleccion'"type="button" name="Registrarse">Registrarse</button>
                  </center>
                </td>

                <!--<form action="/login" method = "post">
                  <label for="username"> Usuario</label>
                  <input id="username", name="email"/>
                  <label for="password"> Contraseña</label>
                  <input id="password", name="password"/>
                  <input type="submit", value="Iniciar sesion">
                </form>-->

                <td style="border: hidden">
                  <center>
                    <img src="/images/hospital.jpg" width="600" height="400">
                    <p>Los hospitales podrán pedir unidades de sangre</p>
                  <center>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
          <footer>
            <p style="text-align: center;">
                <a href="/acerca">Acerca de nosotros</a>&nbsp; &nbsp;&nbsp;
                <a href="/terminos">Terminos de privacidad y condiciones</a>&nbsp; &nbsp;&nbsp;
                <a href="/proceso">Proceso de donación</a>&nbsp; &nbsp;&nbsp;
            </p>
        </footer>
      </div>



  </body>
</html>
