<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title></title>
  </head>
  <body>
    <div>
      <a href="/paginaInicio.html"><img id="logo"src="./imagenes/Logo.jpg"width="270" height="200"></a>
      </div>

      <div>
        <center>
          <table style="border: hidden" width="1500">
            <tbody style="border: hidden"><center>
              <h1>Bienvenido a Heroe de Sangre</h1></center>

              <tr style="border: hidden">
                <td style="border: hidden"><center>
                  <img src="./imagenes/citaPrevia.jpg" width="600" height="400">
                  <p>Podras registrarte como donante y agendar cita previa para llevar a cabo tu donación</p><center>
                </td>

                <td style="border: hidden"><center>
                  <h3>¿Tienes una cuenta?</h3>
                  <button type="button" name="iniciarSesion">Iniciar Sesion</button>
                  <a action="/privacidad" method="GET">Terminos de privacidad</a>
                  <a href="/privacidad" method="GET">Terminos de privacidad</a>
                  <form action="/privacidad" method="GET">Hola</form>
                  <h3>¿Eres nuevo?</h3>
                  <button type="button" name="Registrarse">Registrarse</button></center>
                </td>

                <td style="border: hidden"><center>
                  <img src="./imagenes/hospital.jpg" width="600" height="400">
                  <p>Los hospitales podrán pedir unidades de sangre</p><center>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </div>

  </body>
</html>
