<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Heroe de sangre</title>
  </head>
  <body>
    <div id="container">
        <a href="/" id="logo"><img id="logo" src="/images/Logo.jpg"></a>
          <h1>Bienvenido a Heroe de Sangre</h1>

    </div>

    <center>
      <div id="container2">
          <table style="border: hidden" width="1000">
            <tbody style="border: hidden">

              <tr style="border: hidden">
                <td style="border: hidden">
                  <center>
                    <img src="/images/citaPrevia.jpg" class="imagen">
                    <p class="pieFoto">Podras registrarte como donante y agendar cita previa.</p>
                  </center>
                </td>

                <td style="border: hidden">
                  <center>
                    <h3>¿Tienes una cuenta?</h3>
                    <button onclick="window.location.href='/login'" type="button" name="iniciarSesion">Iniciar Sesion</button>
                    <h3>¿Eres nuevo?</h3>
                    <button onclick="window.location.href='/seleccion'"type="button" name="Registrarse">Registrarse</button>
                  </center>
                </td>

                <td style="border: hidden">
                  <center>
                    <img src="/images/hospital.jpg" class="imagen">
                    <p class="pieFoto">Los hospitales podrán pedir unidades de sangre</p>
                  </center>
                </td>
              </tr>
            </tbody>
          </table>
            <footer>
                  <p style="text-align:center">
                    <a href="/acerca">Acerca de nosotros</a>&nbsp; &nbsp;&nbsp;
                    <a href="/terminos">Terminos de privacidad y condiciones</a>&nbsp; &nbsp;&nbsp;
                    <a href="/proceso">Proceso de donación</a>&nbsp; &nbsp;&nbsp;
                </p>
            </footer>
        </div>
      </center>



  </body>
</html>
