<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/procesoDonacion.css">
        <link rel="shortcut icon" href="/images/logo1.png">
        <title>Proceso de donación</title>

    </head>

    <div id="container">
    <header>

      <div>
        <a href="/"><img id="logo"src="/images/Logo.jpg"></a>
      </div>

      <h2 style="text-align: center;"><br />Proceso de donación</h2>
    		<h3>Los pasos que deben seguir son:</h3>
    </header>

    <main>

    	<ul>
    		<li>Llenar el formulario con los datos solicitados.</li>
    		<li>No haber consumido comida grasosa como barbacoa o menudo antes de la donación.</li>
    		<li>No estar consumiendo ningún medicamento.</li>
    		<li>No tener tatuajes recientes (haberlo tenido m&aacute;s de 4 meses).</li>
    	</ul>

      <h3>Una vez agendada la cita, el proceso ya estando en el hospital es el siguiente:</h3>
      <p>  Es un proceso donde se extraen de 405 a 450 mililitros de tu sangre, a través de una punción en
        la vena del pliegue en el brazo, con un equipo nuevo, estéril y desechable;</p>

    </main>
    </div>

  <a href="/"><img id="flechaRegreso" src="/images/flechaRegreso.png"></a>

</html>
