<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/procesoDonacion.css">
        <link rel="shortcut icon" href="/images/logo1.png">
        <title>Proceso de donación</title>

    </head>

    <div id="container">
    <header>

      <div>
        <a href="/"><img id="logo"src="/images/Logo.jpg"></a>
      </div>

      <h2 style="text-align: center;"><br />Proceso de donación</h2>
    		<h3>Los pasos que deben seguir son:</h3>
    </header>

    <main>

    	<ul>
    		<li>Llenar el formulario con los datos solicitados.</li>
    		<li> Ayuno mínimo de cuatro horas (evita consumir alimentos con grasa 24 horas antes de la donación). Durante las cuatro horas de ayuno solo puedes ingerir: jugos, frutas (excepto plátano, mamey y aguacate), té, café solo y mantenerse hidratado.</li>
    		<li>No haber tomado medicamentos en los últimos cinco días.</li>
    		<li>No haber estado en tratamiento de endodoncia, acupuntura o haberse practicado tatuajes o perforaciones en los últimos 12 meses.</li>
        <li>No haber estado enfermo de gripe, tos, diarrea o infección dental en los últimos 14 días.</li>
        <li>No haber sido operado en los últimos seis meses.</li>
        <li>No haberse vacunado en los últimos 30 días.</li>
        <li>No haber ingerido bebidas alcohólicas en 72 horas previas a la donación.</li>
    	</ul>
      <p>&nbsp;

      <h3>Una vez agendada la cita, el proceso ya estando en el hospital es el siguiente:</h3>
      <p>  Es un proceso donde se extraen de 405 a 450 mililitros de tu sangre, a través de una punción en
        la vena del pliegue en el brazo, con un equipo nuevo, estéril y desechable;</p>

      <p>&nbsp;
      <h3>Recomendaciones:</h3>
      <li>Se recomienda presentarse aseado, el uso de ropa cómoda y de manga corta.</li>
      <li>Es necesario disponer de dos horas, tiempo aproximado de duración total del proceso de donación de sangre.</li>
      <li>No se permite el paso a menores de edad ni acompañantes.</li>

    </main>
    </div>

  <a href="/"><img id="flechaRegreso" src="/images/flechaRegreso.png"></a>

</html>
