<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Proceso de donación</title>

    </head>
    <body>
        <header>
            <h1>Heroe de sangre</h1>
        </header>
        <h3 style="text-align: center;"><br />Proceso de donación</h3>
        <p><span style="font-weight: 400;">Los pasos que deben seguir son:</span></p>
        <ol>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Llenar el formulario con los datos solicitados.</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">No haber consumido comida grasosa como barbacoa o menudo antes de la donaci&oacute;n.</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">No estar consumiendo ningún medicamento.</span></li>
        <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">No tener tatuajes recientes (haberlo tenido m&aacute;s de 4 meses).</span></li>
        </ol>
        <p><span style="font-weight: 400;">Una vez agendada la cita, el proceso ya estando en el hospital es el siguiente:</span></p>
        <p>
            <span style="font-weight: 400;">
                Es un proceso donde se extraen de 405 a 450 mililitros de tu sangre, a través de una punción en 
                la vena del pliegue en el brazo, con un equipo nuevo, estéril y desechable;
            </span>
        </p>
    </body>
    <footer>
        <p style="text-align: center;">
            <a href="/acerca">Acerca de nosotros</a>&nbsp; &nbsp;&nbsp;
            <a href="/privacidad">Términos de privacidad</a> &nbsp; &nbsp;&nbsp;
            <a href="/terminos">Términos y condiciones&oacute;n</a>&nbsp; &nbsp;&nbsp; 
            <a href="/proceso">Proceso de donación</a>&nbsp; &nbsp;&nbsp;
        </p>
    </footer>
</html>