
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/registroUnidades.css">
  <link rel="shortcut icon" href="/images/logo1.png">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Agregar unidades</title>

</head>
<body>
    <div id="container">
        <a href="/"><img id="logo" src="/images/Logo.jpg"></a>
        <h1>Agrega unidades faltantes<h1>
    </div>


    <div id="container2">
          <!--en action iría la página de la sesión ya iniciada--->

                    <form class="log-in" action="/unidades" method="post">
                      <p>Hospital:&nbsp;<select id="hospital" class="input" name="nombreHospital">
                          <option value="General">Hospital General "Dr Salvador Zubir&aacute;n"</option>
                          <option value="StarMedica">Star M&eacute;dica Chihuahua</option>
                          <option value="Central">Hospital Central Universitario</option>
                          <option value="Angeles">Hospital Angeles Chihuahua</option>
                          <option value="infantil">Hospital Infantil de Especialidades de Chihuahua</option>
                      </select></p>
                      <p>Tipo de sangre:&nbsp;<select id="sangre" class="input" name="tipoSangre">
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>
                      </select></p>
                      <p>Cantidad: <input class="input" type="number" name="cantidad" required/></p>
                      <p>&nbsp;
                      <p><button class="input submit" name="button" type="submit">Agregar unidades faltantes</button></p>
                    </form>

    </div>


      <!--<div>
        <center>
          <table style="border: hidden" width="1500">
            <tbody style="border: hidden">

    <form action="/unidades" method="post">
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Hospital:&nbsp;<select id="hospital" name="nombreHospital">
            <option value="General">Hospital General "Dr Salvador Zubir&aacute;n"</option>
            <option value="StarMedica">Star M&eacute;dica Chihuahua</option>
            <option value="Central">Hospital Central Universitario</option>
            <option value="Angeles">Hospital Angeles Chihuahua</option>
            <option value="infantil">Hospital Infantil de Especialidades de Chihuahua</option>
        </select></p>
        <p style="text-align: center;">Tipo de sangre:&nbsp;<select id="sangre" name="tipoSangre">
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
        </select>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
        <p style="text-align: center;">Cantidad: <input name="direccion" type="number" name="cantidad"/></p>
        <p style="text-align: center;"><button name="button" type="submit">Agregar unidades faltantes</button></p>
      </form>-->
      <footer>
            <a href="/login"><img id="flechaRegreso" src="/images/flechaRegreso.png"></a>
      </footer>

</body>
</html>
