
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/registroPersonal.css">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <link rel="shortcut icon" href="/images/logo1.png">
    <title>Registro de personal</title>
</head>
    <body>
        <header>

        </header>

        <div id="container">
          <a href="/" id="logo"><img id="logo" src="/images/Logo.jpg"></a>
          <h1>Registro personal</h1>

        </div>


        <div id="container2">
              <!--en action iría la página de la sesión ya iniciada--->
            <center>
              <table style="border: hidden" width="1000">
                <tbody style="border: hidden">

                  <tr style="border: hidden">
                    <td style="border: hidden">
                      <center>
                        <form class="log-in" action="/personal" method = "post" id="formu">
                          <p>Nombre:&nbsp;<input class="input" type="text" name="nombre" required  />
                          <p>Apellido:&nbsp;<input class="input"  type="text" name="apellido" required />
                          </select></p>
                            <p>Hospital:&nbsp; &nbsp;&nbsp;
                              <select id="solo" class="input" name="nombreHospital" id="hospital">
                                  <option value="General">Hospital General "Dr Salvador Zubirán"</option>
                                  <option value="StarMedica">Star Médica Chihuahua</option>
                                  <option value="Central">Hospital Central Universitario</option>
                                  <option value="Angeles">Hospital Angeles Chihuahua</option>
                                  <option value="infantil">Hospital Infantil de Especialidades de Chihuahua</option>
                          </select></p>
                              <p>&nbsp;</p>


                                  <label class="checkbox" id="solo">
                                    <input id="solo" type="checkbox" required="">Acepto <a href="/terminos" target="_blank">Términos y condiciones</a>.
                                  </label>
                                  <p>&nbsp;</p>

                            <p ><button class="input submit" name="BD" type="submit" onclick="c.disabled = false;p.disabled = false;">Registrar datos</button></p>
                        </form>
                      </center>
                    </td>
                  </tr>
                </tbody>
              </table>

            </center>



        </div>

        <!--<h3 style="text-align: center;"><br />Registro Personal</h3>
        <form action="/users" method = "post">
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Correo:&nbsp;<input type="email" name="correo" required disabled id="c"/></p>
            <p style="text-align: center;">&nbsp; Contraseña:&nbsp;<input type="password" name="password" required disabled id="p"/></p>
            <input name="tipoUsuario" type="hidden" type="text" value="Personal">
            <p style="text-align: center;"><button type="submit"name="button">Crear usuario</button></p>
        </form>
        <form action="/personal" method = "post">
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp;Nombre:&nbsp;<input type="text" name="nombre" required/></p>
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; Apellido:&nbsp;<input type="text" name="apellido" required/></p>
            </select></p>
            <p style="text-align: center;">&iquest;Hospital:&nbsp; &nbsp;&nbsp;
                <select name="nombreHospital" id="hospital">
                    <option value="General">Hospital General "Dr Salvador Zubirán"</option>
                    <option value="StarMedica">Star Médica Chihuahua</option>
                    <option value="Central">Hospital Central Universitario</option>
                    <option value="Angeles">Hospital Angeles Chihuahua</option>
                    <option value="infantil">Hospital Infantil de Especialidades de Chihuahua</option>
                </select></p>
                <center>
                  <label class="checkbox">
                    <input type="checkbox" required="">Acepto terminos y condiciones
                  </label>
                </center>
            <p style="text-align: center;"><button onclick="c.disabled = false;p.disabled = false;" type="submit"name="button">Registrar  datos</button></p>
        </form>-->

        <a href="/seleccion"><img id="flechaRegreso" src="/images/flechaRegreso.png"></a>
    </body>

</html>
