<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Registro de personal</title>

    </head>
    <body>
        <header>
            <h1>Heroe de sangre</h1>
        </header>
        <h3 style="text-align: center;"><br />Registro Personal</h3>
        <form action="/users" method = "post">
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Correo:&nbsp;<input type="email" name="correo" /></p>
            <p style="text-align: center;">&nbsp; Contraseña:&nbsp;<input type="password" name="password"/></p>
            <input name="tipoUsuario" type="hidden" type="text" value="Personal">
            <p style="text-align: center;"><button type="submit"name="button">Crear usuario</button></p>
        </form>
        <form action="/personal" method = "post">
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp;Nombre:&nbsp;<input type="text" name="nombre"/></p>
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; Apellido:&nbsp;<input type="text" name="apellido" /></p>
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp;Hospital:&nbsp;<input type="text" name="nombreHospital"/></p>
            <p style="text-align: center;"><button type="submit"name="button">Crear cuenta</button></p>
        </form>
    </body>
    <footer>
        <p style="text-align: center;">
            <a href="/acerca">Acerca de nosotros</a>&nbsp; &nbsp;&nbsp;
            <a href="/privacidad">Términos de privacidad</a> &nbsp; &nbsp;&nbsp;
            <a href="/terminos">Términos y condiciones&oacute;n</a>&nbsp; &nbsp;&nbsp; 
            <a href="/proceso">Proceso de donación</a>&nbsp; &nbsp;&nbsp;
        </p>
    </footer>
</html>
