<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/registroPersonal.css">
      <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Registro de personal</title>

    </head>
    <body>
        <header>
            <h1>Heroe de sangre</h1>
        </header>
        <h3 style="text-align: center;"><br />Registro Personal</h3>
        <form action="/users" method = "post">
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Correo:&nbsp;<input type="email" name="correo" required  id="c"/></p>
            <p style="text-align: center;">&nbsp; Contraseña:&nbsp;<input type="password" name="password" required  id="p"/></p>
            <input name="tipoUsuario" type="hidden" type="text" value="Personal">
            <p style="text-align: center;"><button type="submit"name="button">Crear usuario</button></p>
        </form>
        <form action="/personal" method = "post">
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp;Nombre:&nbsp;<input type="text" name="nombre" required/></p>
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; Apellido:&nbsp;<input type="text" name="apellido" required/></p>
            </select></p>
            <p style="text-align: center;">&iquest;Hospital:&nbsp; &nbsp;&nbsp;
                <select name="nombreHospital" id="hospital">
                    <option value="General">Hospital General "Dr Salvador Zubirán"</option>
                    <option value="StarMedica">Star Médica Chihuahua</option>
                    <option value="Central">Hospital Central Universitario</option>
                    <option value="Angeles">Hospital Angeles Chihuahua</option>
                    <option value="infantil">Hospital Infantil de Especialidades de Chihuahua</option>
                </select></p>
                <center>
                  <label class="checkbox">
                    <input type="checkbox" required="">Acepto terminos y condiciones
                  </label>
                </center>
            <p style="text-align: center;"><button onclick="c.disabled = false;p.disabled = false;" type="submit"name="button">Registrar  datos</button></p>
        </form>
    </body>
    <footer>
        <p style="text-align: center;">
            <a href="/acerca">Acerca de nosotros</a>&nbsp; &nbsp;&nbsp;
            <a href="/privacidad">Términos de privacidad</a> &nbsp; &nbsp;&nbsp;
            <a href="/terminos">Términos y condiciones&oacute;n</a>&nbsp; &nbsp;&nbsp;
            <a href="/proceso">Proceso de donación</a>&nbsp; &nbsp;&nbsp;
        </p>
    </footer>
</html>
