<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Registro de donante</title>
    </head>
    <body>
        <header>
            <h1>Heroe de sangre</h1>
        </header>
        <h3 style="text-align: center;">Registro donante</h3>
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp;Nombre:&nbsp;<input type="text" /></p>
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; Apellido:&nbsp;<input type="text" /></p>
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Edad:&nbsp;<input type="text" />&nbsp;</p>
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; Peso(kg):&nbsp;<input type="text" /></p>
        <p style="text-align: center;">&nbsp;&nbsp;&nbsp;Direccion:&nbsp;&nbsp;<input type="text" /></p>
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Correo:&nbsp;<input type="text" /></p>
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp;  Contraseña:&nbsp;<input type="text" /></p>
        <p style="text-align: center;">&iquest;Cuenta usted con algún tatuaje?&nbsp; &nbsp;&nbsp;
            <select name="tatuaje" id="tatuaje">
                <option value="Si">Si</option>
                <option value="No" selected="selected">No</option>
            </select></p>
            <p style="text-align: center;">&iquest;Tipo de sangre:&nbsp; &nbsp;&nbsp;
                <select name="sangre" id="sangre">
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select></p>
        <p style="text-align: center;"><button name="button">Crear cuenta</button></p>
        <footer>
            <p style="text-align: center;">
                <a href="">Acerca de nosotros</a>&nbsp; &nbsp;&nbsp;
                <a href="">Términos de privacidad</a> &nbsp; &nbsp;&nbsp;
                <a href="">Términos y condiciones&oacute;n</a>&nbsp; &nbsp;&nbsp; 
                <a href="proceso.html">Proceso de donación</a>&nbsp; &nbsp;&nbsp;
            </p>
        </footer>
    </body>
</html>