<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Registro de donante</title>
    </head>
    <body>
        <header>
            <h1>Heroe de sangre</h1>
        </header>
        <h3 style="text-align: center;">Registro donante</h3>
        <form action="/users" method = "post">
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Correo:&nbsp;<input type="email" name="correo"/></p>
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp;  Contraseña:&nbsp;<input type="password" name="password"/></p>
            <input name="tipoUsuario" type="hidden" type="text" value="Donante">
            <p style="text-align: center;" ><button name="button" type="submit">Crear usuario</button></p>
        </form>
        <form action="/donantes" method = "post">
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp;Nombre:&nbsp;<input type="text" name="nombre"/></p>
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; Apellido:&nbsp;<input type="text" name="apellido"/></p>
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Edad:&nbsp;<input type="text" name="edad"/>&nbsp;</p>
            <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; Peso(kg):&nbsp;<input type="text" name="peso"/></p>
            <p style="text-align: center;">&nbsp;&nbsp;&nbsp;Direccion:&nbsp;&nbsp;<input type="text" name="direccion"/></p>
            <p style="text-align: center;">&iquest;Cuenta usted con algún tatuaje?&nbsp; &nbsp;&nbsp;
                <select name="tatuajes" id="tatuaje">
                    <option value="true">Si</option>
                    <option value="false" selected="selected">No</option>
                </select></p>
                <p style="text-align: center;">&iquest;Tipo de sangre:&nbsp; &nbsp;&nbsp;
                    <select name="tipoSangre" id="sangre">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select></p>
            <p style="text-align: center;" ><button name="button" type="submit">Crear cuenta</button></p>
        </form>
        <footer>
            <p style="text-align: center;">
                <a href="/acerca">Acerca de nosotros</a>&nbsp; &nbsp;&nbsp;
                <a href="/privacidad">Términos de privacidad</a> &nbsp; &nbsp;&nbsp;
                <a href="/terminos">Términos y condiciones&oacute;n</a>&nbsp; &nbsp;&nbsp; 
                <a href="/proceso">Proceso de donación</a>&nbsp; &nbsp;&nbsp;
            </p>
        </footer>
    </body>
</html>