<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registroPersonal.css">
    <link rel="shortcut icon" href="/images/logo1.png">
    <script>
      function obterURL(){
        var URLactual = window.location;
        return URLactual;
      }
    </script>
    <title>Registro usuario</title>
</head>
<body>
  <header>

  </header>

  <div id="container">
    <a href="/" id="logo"><img id="logo" src="/images/Logo.jpg"></a>
    <h1>Registro Usuario</h1>

  </div>

    <td style="border: hidden">
        <center>
          <form class="log-in" onSubmit="return obterURL()" method = "post">
            <p>Correo:&nbsp;<input class="input" type="email" name="correo" id="c" required />
            <p>Contraseña:&nbsp;<input class="input" type="password" name="password" id="p" required />
            <p>&nbsp;</p>
            <button class="input submit" type="submit" name="BU" value="Crear Usuario">Crear Usuario</button>
          </form>
        </center>
      </td>
      <a href="/seleccion"><img id="flechaRegreso" src="/images/flechaRegreso.png"></a>
</body>
</html>