<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Email</title>
</head>
<body>
    <h1>Manda su Reconocimiento al nuevo Heroe</h1>
    <form action="/correos" method="post">
        <input type="text" placeholder="nombre" name="firstname" required="">
        <input type="text" placeholder="apellido" name="lastname" required="">
        <input type="email" placeholder="email" name="emailaddress" required="">
        <input type="text" placeholder="asunto" name="asunto" required="">
        <input type="file" placeholder="mensaje" name="file" required="">
        <br>
        <input type="submit" placeholder="mensaje" name="enviar">
    </form>
</body>
</html>