<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos de privacidad</title>
</head>
<body>
    <h1>Heroes de sangre</h1>
    <h2>Términos y condiciones</h2>

    <p>
        Los datos del donante son manejados con el unico proposito de almacenarlos para registro, inicio de sesion y menejo de cuenta
    </p>

</body>
</html>