<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/acercaYterminos.css">
    <link rel="shortcut icon" href="/images/logo1.png">
    <title>Terminos y condiciones</title>
</head>
<body>

    <header>
        <div id="container">
            <a href="/"><img id="logo" src="/images/Logo.jpg"></a>
        </div>

    </header>
    <div class="wrapper">

      <div class="lista-item">
        <input class="trigger-input" id="faq-titulo-2" type="checkbox">
        <div class="trigger-wrapper">
          <label for="faq-titulo-2">
            <h2 class="faq-titulo">Terminos de privacidad</h2>
          </label>
          <p class="faq-conteudo">Los datos del donante son manejados con el unico proposito de almacenarlos para registro, inicio de sesion y menejo de cuenta.</p>
        </div>
      </div>

      <div class="lista-item">
        <input class="trigger-input" id="faq-titulo-3" type="checkbox">
        <div class="trigger-wrapper">
          <label for="faq-titulo-3">
            <h2 class="faq-titulo">Términos y condiciones</h2>
          </label>
          <p class="faq-conteudo">Los datos del donante son manejados con el unico proposito de almacenarlos para registro, inicio de sesion y menejo de cuenta.</p>
        </div>
      </div>


        <div class="lista-item">
          <input class="trigger-input" id="faq-titulo-1" type="checkbox">
          <div class="trigger-wrapper">
            <label for="faq-titulo-1">
              <h2 class="faq-titulo">Acerca de nosotros</h2>
            </label>
            <p class="faq-conteudo">Somos un grupo de desarrolladores conformado por mujeres y hombres quienes han decidido crear una plataforma para motivar a los ciudadanos a formar parte del proceso donativo de sangre para aquellos que lo necesitan. Nos mueve el saber que cada vez que una unidad de sangre es donada, crece la esperanza de una persona para sobrevivir y en un futuro volver a vivir su vida.</p>
          </div>
        </div>

    </div>

    <a href="/"><img id="flechaRegreso" src="/images/flechaRegreso.png"></a>
</body>
</html>
