<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post"></form><form action="/personal" method="post">
        <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Hospital:&nbsp;<select id="hospital" name="nombreHospital">
            <option value="General">Hospital General "Dr Salvador Zubir&aacute;n"</option>
            <option value="StarMedica">Star M&eacute;dica Chihuahua</option>
            <option value="Central">Hospital Central Universitario</option>
            <option value="Angeles">Hospital Angeles Chihuahua</option>
            <option value="infantil">Hospital Infantil de Especialidades de Chihuahua</option>
            <option value="infantil"></option>
            <option value="infantil"></option>
            <option value="infantil"></option>
        </select></p>
        <p style="text-align: center;">Tipo de sangre:&nbsp;<select id="sangre" name="tipoSangre">
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
        </select>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
        <p style="text-align: center;">Cantidad: <input name="direccion" type="number" /></p>
        <p style="text-align: center;"><button name="button" type="submit">Crear cuenta</button></p>
        </form>
</body>
</html>