<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/exitoUnidades.css">
    <link rel="shortcut icon" href="/images/logo1.png">
    <title>Unidades registradas</title>
  </head>
  <body>
    <div id="container">
        <a href="/"><img id="logo" src="/images/Logo.jpg"></a>
    </div>

    <!--<%=userid%=>-->
    <center>
      <div id="container2">
        <table style="border: hidden" width="1000">
          <tbody style="border: hidden">

            <tr style="border: hidden">
              <td style="border: hidden">
                <center>
                  <img src="/images/unidadesExito.png"  width="400" height="400">
                </center>
              </td>

              <td style="border: hidden">
                <center>
                  <h2 class="title">Gracias!</h2>
                  <h2 class="title">Las unidades fueron registradas con Exito</h2>
                </center>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </center>


    <footer>
      <center>
        <button onclick="window.location.href='/'"type="button" name="unidades" class="input submit">Salir al Inicio</button>
      </center>
      <a href="/login"><img id="flechaRegreso" src="/images/flechaRegreso.png" align="left"></a>
    </footer>

  </body>
</html>
