body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: linear-gradient(-45deg, #b3dce8, #80d4ed, #41c1e8, #0382a8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#logo{
  height: 120px;
  width: 200px;
}

#flechaRegreso{
  height: 80px;
  width: 160px;
}

#container {
	background-color: #FFF;
	margin: 10px 0%;
	padding: 0px 60px;
	border-radius: 20px;
	box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);

}

.wrapper {
	max-width: 400px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin: 60px 0 40px 0;
	font-size: 1.5em;
	font-family: sans-serif;
	text-transform: uppercase;
}

.lista-item {
	background: white;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 2px 6px rgba(50,50,90,.1);
}

.faq-titulo {
	cursor: pointer;
	padding: 10px;
	font-size: 1.4em;
	font-family: monospace;
	color: #383c3d;
}


.faq-titulo::before {
	content: '';
	display: inline-block;
	height: 12px;
	width: 24px;
	margin-right: 10px;
	background: #383c3d;
}


.faq-titulo::after {
	content: '+';
	float: right;
	transition: transform .3s ease;
}

.faq-conteudo {
	padding: 10px;
	color: #413f45;
	font-family: Helvetica;
	font-size: 1em;
	line-height: 1.4em;
	display: none;
}

.trigger-input {
	display: none;
}

.trigger-input:checked + .trigger-wrapper .faq-conteudo {
	display: block;
}


.trigger-input:checked + .trigger-wrapper .faq-titulo::after {
	transform: rotate(45deg) scale(1.08);
}
